{% extends 'base.html' %}
{% load static %}
{% block cta %}
<style c>
</style>
<section id="services">
  <div class="bg-primary text-center py-5 mb-4">
      <div class="container">
        <h1 class="fw-light text-white">Services</h1>
        <p class="overview">We provide compassionate and expert care to our community. You are at the center of everything we do. Let us be your healthcare partner.</p>
      </div>
    </div>


  <div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'img/service1.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Primary Care</h5>
            <div class="card-text text-black-50">Your personalized medical professionals.</div>
          </div>
        </div>
      </div>
        <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'img/service5.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Emergency room services</h5>
            <div class="card-text text-black-50">At Emergency Hospital Systems, our emergency rooms are open 24/7/365,so we’re available when you need us most.</div>
          </div>
        </div>
      </div>
        <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'img/service6.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Short-term hospitalization</h5>
            <div class="card-text text-black-50">Short-term inpatient hospitalization may be the right choice to help your loved one in an emergency.</div>
          </div>
        </div>
      </div>
        <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'img/service7.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">X-ray/radiology services</h5>
            <div class="card-text text-black-50">Radiology is also known as diagnostic imaging. The process involves multiples tests, which require projecting and picturing various parts of the body.</div>
          </div>
        </div>
      </div>
        <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'img/service8.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">General and specialty surgical services</h5>
            <div class="card-text text-black-50">General surgeons are doctors who specialize in surgical procedures.</div>
          </div>
        </div>
      </div>


      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'img/service9.webp' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Blood services</h5>
            <div class="card-text text-black-50">The part of your blood used every day for those needing transfusions as part of their care.</div>
          </div>
        </div>
      </div>
        <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'img/service10.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Laboratory services</h5>
            <div class="card-text text-black-50">The laboratory work should provide practice in observation, recording, analysis and conclusions.</div>
          </div>
        </div>
      </div>
        <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'img/service11.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Prescription services</h5>
            <div class="card-text text-black-50">It is a formal communication from a physician or other registered health-care professional to a pharmacist.</div>
          </div>
        </div>
      </div>
        <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'img/service12.png' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">home nursing services</h5>
            <div class="card-text text-black-50"></div>
          </div>
        </div>
      </div>
         <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'img/service13.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Mental health services</h5>
            <div class="card-text text-black-50">Psychiatric patients traditionally have been cared for in long-stay mental health facilities.</div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'img/service3.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Team Member</h5>
            <div class="card-text text-black-50">Web Developer</div>
          </div>
        </div>
      </div>
      <!-- Team Member 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'img/service4.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">PrEP Therapy</h5>
            <div class="card-text text-black-50">Stay safe if you are at high exposure of HIV.</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
</section>

 {% endblock cta %}

{% block content %}
{% endblock content %}