{% extends 'base.html' %}
{% load static %}
{% block cta %}

<section class="container py-5"  style="margin-block:200px;" id="team">
    <div class="row text-center ">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4">Our Team</h1>
            <p class="lead">Rely on established and competent professionals.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/MDoctor1.png' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. Vishnu Vardhan </h5>
                    <span class="small text-uppercase text-muted">MBBS, MS-General Surgery,Urologist,Andrologist</span>
                </div>

            </div><!-- End -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/MDoctor3.png' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. Mohd.Younis Bhat</h5>
                    <span class="small text-uppercase text-muted">DNB-Urology/Genito-Urinary Surgery,MS-General Surgery,MBBS Urologist </span>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/FDoctor2.png' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr K.Jeevitha</h5>
                    <span class="small text-uppercase text-muted">MBBS,MD-General Medicine General Physician </span>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/MDoctor4.png' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. A. Pradeep Reddy</h5>
                    <span class="small text-uppercase text-muted">MBBS,MS-Orthopaedics,M.Ch-Orthopaedics,Orthopaedic surgeon </span>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/FDoctor5.png' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. D. Akhil</h5>
                    <span class="small text-uppercase text-muted">MBBS,MS-Orthopaedics,Orthopaedic Surgeon</span>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/MDoctor12.png' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr.M. Srinivas</h5>
                    <span class="small text-uppercase text-muted">MBBS,General Physician NANOMEDIX</span>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/FDoctor9.png' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. B. Deepthi Rao</h5>
                    <span class="small text-uppercase text-muted">MBBS, MD - General Medicine General Physician</span>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/MDoctor11.png' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr.D. Vijay</h5>
                    <span class="small text-uppercase text-muted">MBBS,MS,MCH(CVTS),Cardiovascular Thoracic Surgeon</span>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/FDoctor8.png' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. C. Sailaja</h5>
                    <span class="small text-uppercase text-muted">MBBS Bachelor of Medicine and Bachelor of Surgery General Physician</span>
                </div>
            </div>

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/FDoctor7.png' %}" alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. P. Soniya Rani</h5>
                    <span class="small text-uppercase text-muted">Bachelor of Medicine, Bachelor of Surgery (M.B.B.S.),Medicine General Physician</span>
                </div>
            </div><!-- End -->
             <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/FDoctor6.png' %}" alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. S. Bhavani</h5>
                    <span class="small text-uppercase text-muted">MBBS General Physician</span>
                </div>
            </div>
             <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/MDoctor13.png' %}" alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. J. Murlidhar</h5>
                    <span class="small text-uppercase text-muted">MBBS,MD(Anaesthesia),Anaesthesiologist</span>
                </div>
            </div>
             <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/Doctor10.png' %}" alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. K. Amrutha</h5>
                    <span class="small text-uppercase text-muted">MBBS,MD(Psychiatry),Psychiatrist</span>
                </div>
            </div>
             <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/MDoctor14.png' %}" alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. K. Chandra Sekhar</h5>
                    <span class="small text-uppercase text-muted">MBBS,MD(Psychiatry),Psychiatrist</span>
                </div>
            </div>
             <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/MDoctor20.png' %}" alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. K. Shyam</h5>
                    <span class="small text-uppercase text-muted">MBBS,MRCP(London),FRCP(UK),Endocrinologist</span>
                </div>
            </div>
             <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/FDoctor17.png' %}" alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. R. Lily </h5>
                    <span class="small text-uppercase text-muted">MBBS,DNB-General Medicine General Physician</span>
                </div>
            </div>
             <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/MDoctor16.png' %}" alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. K. rajesh</h5>
                    <span class="small text-uppercase text-muted">BDS,Dental Surgeon</span>
                </div>
            </div>
             <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/FDoctor18.png' %}" alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. L. Preethy</h5>
                    <span class="small text-uppercase text-muted">General Physician</span>
                </div>
            </div>
             <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/MDoctor19.png' %}" alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. P. K. Pramod</h5>
                    <span class="small text-uppercase text-muted">MBBS,MD,DM(Cardiology),FACC,Consultant cardiologist</span>
                </div>
            </div>
                         <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/MDoctor15.png' %}" alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. K. Sudhir</h5>
                    <span class="small text-uppercase text-muted">MBBS,MD,DM(Neuology),Consultant Neurologist</span>
                </div>
            </div>



                         <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/MDoctor21.png' %}" alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. Victor Vinod </h5>
                    <span class="small text-uppercase text-muted">MCh,MS,MBBS,Senior Consultant Surgical Gastroenterologist</span>
                </div>
            </div>
             <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/MDoctor22.png' %}" alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. M. Raghava</h5>
                    <span class="small text-uppercase text-muted">MBBS, MS, FRCS,Consultant Orthopaedic and Joint Replacement Surgeon</span>
                </div>
            </div>
             <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/FDoctor23.png' %}" alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. G. Saraswati</h5>
                    <span class="small text-uppercase text-muted">MBBS,Consultant Diploma-Obstetrics and Gynaecology</span>
                </div>
            </div>
             <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/FDoctor24.png' %}" alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr.Shobha Rani</h5>
                    <span class="small text-uppercase text-muted">MBBS,Consultant -Obstetrics and Gynaecology O</span>
                </div>
            </div>
             <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/FDoctor37.png' %}" alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. J. Arpana </h5>
                    <span class="small text-uppercase text-muted">MBBS,MS,DNS-Obstetrics and Gynecology,Consultant Gynaecology and Obstetrics</span>
                </div>
            </div>
             <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/MDoctor27.jpg' %}" alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. V. Sarath </h5>
                    <span class="small text-uppercase text-muted">MBBS,MD,MRCP(UK),Consultant Rheumatologist</span>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/FDoctor26.png' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. N. Hema</h5>
                    <span class="small text-uppercase text-muted">BBS,MS,MD-Obstetrics and Gynecology,Consultant Gynaecology and Obstetrics</span>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/MDoctor28.jpg' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. B. Surya Prakash</h5>
                    <span class="small text-uppercase text-muted">MBBS,MS,MCH(Urology),Consultant Urologist</span>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/MDoctor33.webp' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. K. A. Reddy</h5>
                    <span class="small text-uppercase text-muted">BDS,MSD,Fellow(ICOI)USA,Consultant Dental Surgeon</span>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/FDoctor30.webp' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. S.S. Anshumala</h5>
                    <span class="small text-uppercase text-muted">MBBS,MD-Obstetrics and Gynecology,Diploma - Obstetrics and Gynecology,Consultant Gynecology,Laparoscopic and Robotic Surgery</span>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/FDoctor36.jpg' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">DR. R. K. Sita</h5>
                    <span class="small text-uppercase text-muted">MBBS,MS,MCH(Plastic Surgery),Consultant Plastic Cosmetic Surgeon</span>
                </div>

            </div>
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/MDoctor32.jpg' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. Q.Mohd.Abdul Rahman </h5>
                    <span class="small text-uppercase text-muted">BPT,Physiotherapist</span>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/MDoctor29.webp' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. P. Naveen</h5>
                    <span class="small text-uppercase text-muted">MASLP,Consultant Audiologist</span>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/MDoctor34.webp' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. M. Gopichand</h5>
                    <span class="small text-uppercase text-muted">MBBS,FRCS(CT),Consultant Cardiovascular Thoracic Surgeon</span>
                </div>
            </div>

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/FDoctor35.jpg' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. W. Monika</h5>
                    <span class="small text-uppercase text-muted">MBBS,MD -Obstetrics and Gynecology,Consultant Gynaecology and Obstetrics</span>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/MDoctor31.webp' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr. Rao.Ram Bhupal </h5>
                    <span class="small text-uppercase text-muted">MBBS,MD-Obstetrics and gynecology,Consultant-Obstretics and Gynecology</span>
                </div>
            </div><!-- End -->
        </div>
    </div>
</section><!-- End -->
{% endblock cta %}

{% block content %}

{% endblock content %}
